<div class="header-container">
    <div class="greeting-container">
        <div class="text-4xl">Good</div>
        <div class="text-5xl font-semibold flex">
            {{ greeting }}
            <span class="waving-hand">👋</span>
        </div>
    </div>

    <div class="toggle-container">
        <form [formGroup]="formGroup">
            <p-selectbutton 
                [options]="stateOptions" 
                formControlName="toggle"
                (onChange)="onToggleChange($event)" 
                class="toggle-button">
            </p-selectbutton>
        </form>
    </div>
</div>
