<div *ngIf="sidebarSelected === 'All'" class="main-container">
    <app-header></app-header>
    <app-table></app-table>
</div>

<div *ngIf="sidebarSelected !== 'All'" class="user-container">
    <div *ngFor="let user of users" class="user-card">
        <div *ngIf="user.name === sidebarSelected">
            <div class="user-title">
                <span class="user-emoji">😃</span> 
                {{ user.name }}'s Workout Progress
            </div>

            <div class="workout-list">
                <div *ngFor="let workout of user.workouts" class="workout-card">
                    <div class="workout-icon">
                        {{ getWorkoutEmoji(workout.type) }}
                    </div>
                    <div class="workout-details">
                        <div class="workout-type">{{ workout.type }}</div>
                        <div class="workout-time">{{ workout.minutes }} min</div>
                    </div>
                </div>
            </div>

            <app-user-chart [user]="user"></app-user-chart>
        </div>
    </div>
</div>
